In [10]:
##Q1.  Explain with an example each when to use a for loop and a while loop.

In [ ]:
We use for loop when we know the exact starting and ending limit
else we can use the while loop
syntax

In [11]:
#for loop
l=[1,3,3,4,5]
for i in l:
    print(i+1)

2
4
4
5
6

In [8]:
#while loop
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [18]:
#Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [16]:
#for loop
s=0
for i in range(11):
    s=s+i
print(s)

55

In [17]:
#while loop
i=1;s=0;
while(i<11):
    s=s+i
    i=i+1
print(s)

55

In [19]:
#Q3. Create a python program to compute the electricity bill for a household.
#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#You are required to take the units of electricity consumed in a month from the user as input.
#Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [ ]:
units = int(input("units consumed: "))
bill=0.0
if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Electricity bill is: Rs.", bill)

In [10]:

#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and 
#if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [11]:
#for loop
cub=0
l=[]
for i in range(1,101):
    cub=i*i*i
    if cub%4==0 or cub%5==0:
        l.append(i)
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [12]:
#while loop
cub=0
l=[]
i=1
while(i<=100):
    cub=i*i*i
    if cub%4==0 or cub%5==0:
        l.append(i)
    i=i+1
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [13]:
#Q5.  Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist

In [15]:
stg="I want to become a data scientist"
c=0
for i in stg:
    if i=='a' or i=='e' or i=='i' or i=='u' or i=='o':
        c=c+1
print(c)

11