In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
#A database is a structured collection of data that is organized and stored for easy access, retrieval, and management. 
#It provides a way to store, retrieve, modify, and analyze data efficiently.
#SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems:
#SQL databases are relational databases that use structured schemas and tables to store and organize data.
#They have a predefined schema that specifies the structure of the data and the relationships between different tables. 
#SQL databases are known for their strong consistency, ACID (Atomicity, Consistency, Isolation, Durability) properties, and support for complex queries using SQL.
#NoSQL databases, on the other hand, are non-relational databases that offer a flexible schema. 
#They can handle unstructured and semi-structured data, making them suitable for handling large volumes of diverse data types.
#NoSQL databases provide high scalability, availability, and faster data processing. They use various data models like key-value pairs, document stores, wide-column stores, or graph databases.

In [3]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
#DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of the database.
#CREATE: The CREATE command is used to create a new database, table, view, index, or other database objects. 
#For example, to create a new table named "students" with columns for "id," "name," and "marks," 
#CREATE TABLE students (
#    id INT PRIMARY KEY,
#    name VARCHAR(50),
#    marks VARCHAR(100)
#);
#DROP: The DROP command is used to delete an existing database, table, view, index, or other database objects.
#For example, to drop the "students" table created above:
#DROP TABLE s;tudents
#ALTER: The ALTER command is used to modify the structure of an existing database object, such as adding or deleting columns from a table.
#For example, to add a new column named "age" to the "students"
#ALTER TABLE students
#ADD COLUMN age INT;
#TRUNCATE: The TRUNCATE command is used to remove all rows from a table, while keeping the structure intact. It is faster than using DELETE to remove all rows. 
#For example, to remove all rows from the "students" table:
#TRUNCATE TABLE students;

In [5]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
#DML (Data Manipulation Language) is a subset of SQL used to manipulate and modify data within a database. 
#It includes commands such as INSERT, UPDATE, and DELETE
#INSERT: The INSERT command is used to insert new rows into a table. It allows you to specify the values for each column or insert data from another table.
#For example, to insert a new student with an ID of 1, name "vishu" and marks 56 into the "students" table
#INSERT INTO students (id, name, marks)
#VALUES (1, 'vishu', 56);

#UPDATE: The UPDATE command is used to modify existing data in a table. It allows you to update specific columns or rows based on certain conditions. 
#For example, to update the marks of the students with an ID of 1 to 56 in the "student" table
#UPDATE students
#SET marks = 53
#WHERE id = 1;

#DELETE: The DELETE command is used to remove specific rows from a table based on certain conditions. It allows you to delete data from a table while maintaining the table's structure. 
#For example, to delete the student with an ID of 1 from the "student" table:
#DELETE FROM student
#WHERE id = 1;

In [8]:
#Q4. What is DQL? Explain SELECT with an example.

In [9]:
#DQL (Data Query Language) is a subset of SQL used to retrieve and query data from a database. The most commonly used command in DQL is SELECT, which is used to retrieve data from one or more tables based on specified criteria. The SELECT command is structured as follows:

#SELECT column1, column2, ...
#FROM table_name
#WHERE condition;

In [10]:
#Q5. Explain Primary Key and Foreign Key.

In [11]:
#Primary Key:
#A primary key is a column or a set of columns in a database table that uniquely identifies each record in the table. It serves as a unique identifier for each row, ensuring data integrity and providing a means to establish relationships between tables. The primary key constraint ensures that the values in the primary key column(s) are unique and not null. Every table should have a primary key defined.
#Uniqueness: Each value in the primary key column(s) must be unique, ensuring that no two records in the table have the same key value.
#Non-nullability: A primary key column cannot contain null values. Each record must have a valid primary key value.
#Immutable: The primary key values should not change over time. If needed, it is better to create a new record rather than modify the primary key value.

#Foreign Key:
#A foreign key is a column or a set of columns in a database table that refers to the primary key in another table. It establishes a relationship between two tables, known as the parent table (the one with the primary key) and the child table (the one with the foreign key). The foreign key constraint ensures referential integrity, enforcing that values in the foreign key column(s) correspond to existing values in the referenced primary key column(s).
#Referential Integrity: The foreign key ensures that the values in the child table's foreign key column(s) match the values in the parent table's primary key column(s).
#Relationship Establishment: A foreign key establishes relationships between tables, allowing you to connect related data across multiple tables.
#Cascading Actions: You can define cascading actions on foreign keys, specifying what should happen when a referenced primary key value is modified or deleted. Actions like CASCADE, SET NULL, SET DEFAULT, or NO ACTION can be defined to maintain data consistency.

In [12]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# Execute a SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)


# Close the cursor and connection
cursor.close()
connection.close()

In [ ]:
#you create a cursor object by calling the cursor() method on the connection. The cursor allows you to execute SQL queries and fetch results.
#You can execute SQL queries using the execute() method of the cursor. Pass the SQL query as a string parameter to the execute() method.

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
#SELECT: The SELECT clause is executed first to determine which columns or expressions to include in the result set. It specifies the data to be retrieved from the database.
#FROM: The FROM clause is executed next to specify the table or tables from which the data is retrieved. It identifies the source of the data.
#WHERE: The WHERE clause is executed after the FROM clause to filter the rows based on specified conditions. It narrows down the result set by applying logical conditions.
#GROUP BY: If a GROUP BY clause is present, it is executed after the WHERE clause. It groups the rows based on specified columns or expressions.
#HAVING: If a HAVING clause is present, it is executed after the GROUP BY clause. It filters the grouped rows based on specified conditions.
#ORDER BY: The ORDER BY clause is executed after the HAVING clause (if present) to sort the result set based on specified columns or expressions.
#LIMIT/OFFSET: If a LIMIT or OFFSET clause is specified, it is executed last. It limits the number of rows returned in the result set or specifies the starting point of the result set.